.panel-updater {
  position: relative; }
  .panel-updater::before {
    background: #fefefe;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 12;
    visibility: hidden;
    opacity: 0;
    transition: visibility 200ms cubic-bezier(0.4, 0, 1, 1), opacity 200ms cubic-bezier(0.4, 0, 1, 1); }
  .panel-updater::after {
    background: url(/img/loading-de657d9a.dist.svg) no-repeat;
    content: '';
    display: block;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -12px;
    z-index: 13;
    visibility: hidden;
    opacity: 0; }
  .panel-updater.is-loading::before, .panel-updater.is-loading::after {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    visibility: visible;
    opacity: 1; }

.info-popup {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
  color: #333;
  font-family: tahoma;
  font-size: 12px;
  margin-left: 10px;
  position: absolute;
  transition: box-shadow 135ms cubic-bezier(0.4, 0, 0.2, 1), width 235ms cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: top;
  width: 240px;
  z-index: 1;
  top: 100px;
  right: 100px; }
  .info-popup:hover {
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.2), 0 2px 8px 4px rgba(60, 64, 67, 0.1); }
  .info-popup::after, .info-popup::before {
    right: 100%;
    top: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .info-popup::after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -10px; }
  .info-popup::before {
    border-color: rgba(170, 170, 170, 0);
    border-right-color: #aaa;
    border-width: 11px;
    margin-top: -11px; }

.info-popup__player-name {
  color: #000;
  font-size: 1.5rem; }

.info-popup__clan-name {
  color: #aaa;
  font-size: .9rem; }
  .info-popup__clan-name a {
    color: #888;
    text-decoration: none; }
    .info-popup__clan-name a:hover {
      color: #bf5676; }

.player-info span {
  color: #000;
  font-weight: bold;
  width: 80px;
  float: right; }

.info-popup__footer {
  border-top: 1px solid #ddd;
  display: flex; }
  .info-popup__footer a {
    color: #212121;
    flex: 1;
    font-size: .7rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    min-width: 64px;
    padding: 12px 16px;
    display: inline-block;
    cursor: pointer; }
    .info-popup__footer a:hover {
      background-color: #eee; }

.p-3 {
  padding: 1rem; }

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem; }

.pb-3 {
  padding-bottom: 1rem; }

