<div class="aurora-feature">
    <a href="<%=image%>" target="_blank" class="aurora-feature__image">
        <img src="<%=image%>" />
    </a>
    <div class="aurora-feature__info">
        <h5 class="mt-0 mb-3"><%=name%></h5>
        <p><%=description%></p>
    </div>
</div>