<div style="max-width: 500px; margin: 0 auto;">
    <h1>Project Aurora</h1>
    <p>Thanks for dropping by but there is nothing to see here, yet.</p>
    <p>Your probably looking for <a href="https://www.skylords.com">Skylords.com</a>.</p>
</div>